.experience {
  &__list {
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-left: 0;
    list-style-type: none;

    &-item {
      &:not(:last-of-type) {
        margin-bottom: 2rem;
      }

      &-title {
        margin-bottom: 0.5rem;
      }

      &-subtitle {
        margin-bottom: 0;
      }
    }
  }
}
