a {
  &,
  &:link {
    color: $color-link-default;
    text-decoration: none;
  }

  &:visited {
    color: $color-link-visited;
    text-decoration: none;
  }

  @media screen and (min-width: 576px) {
    &:hover,
    &:focus {
      color: $color-link-hover;
      //text-decoration: underline;
    }

    &:active {
      color: $color-link-active;
      //text-decoration: underline;
    }
  }
}
