$skills: (
  'html': (
    rgb(227, 76, 38),
    97%
  ),
  'css': (
    rgb(86, 61, 124),
    96%
  ),
  'js': (
    rgb(241, 224, 90),
    95%
  ),
  'ts': (
    rgb(0, 122, 204),
    93%
  ),
  'react': (
    rgb(97, 218, 251),
    92%
  ),
  'react-native': (
    rgb(5, 165, 209),
    85%
  ),
  'node': (
    rgb(67, 160, 71),
    74%
  ),
  'mysql': (
    rgb(68, 121, 161),
    69%
  )
);

.skills {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;

  &__item {
    margin-bottom: 2rem;

    &-name {
      font-size: 1rem;
      font-weight: 400;
      margin-bottom: 0.35rem;
    }

    @each $name, $skill in $skills {
      $bg: nth($skill, 1);
      $width: nth($skill, 2);

      &-#{$name} {
        .progress {
          background-color: $bg;
          width: $width;
        }
      }
    }
  }
}
