.socials {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;

  &__item {
    margin-top: 1rem;

    &:not(:first-of-type) {
      margin-left: 1.5rem;
    }

    @media screen and (min-width: 480px) {
      margin-top: 0;
    }

    &-icon {
      display: inline-block;
      width: 1.5em;
      height: 1.5em;
      background-size: 1.5em;
      background-repeat: no-repeat;
      background-position: center center;

      @media screen and (min-width: 992px) {
        transition: opacity $default-transition-duration
          $default-transition-timing;
        opacity: 0.8;
        cursor: pointer;

        &:hover {
          opacity: 1;
        }
      }

      &-mail {
        @include themed() {
          background-image: t('mailIcon');
        }
      }

      &-tg {
        @include themed() {
          background-image: t('tgIcon');
        }
      }

      &-in {
        background-size: 1.25em;

        @include themed() {
          background-image: t('inIcon');
        }
      }

      &-gh {
        @include themed() {
          background-image: t('ghIcon');
        }
      }
    }
  }
}
