.socials {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;

  &__item {
    &:not(:first-of-type) {
      margin-left: 1.75rem;
    }

    &-icon {
      display: inline-block;
      width: em($icon-size-base);
      height: em($icon-size-base);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center;

      @include md() {
        transition: opacity $default-transition-duration
          $default-transition-timing;
        opacity: $icon-opacity-base;
        cursor: pointer;

        &:hover {
          opacity: 1;
        }
      }

      &-mail {
        @include themed() {
          background-image: t('mailIcon');
        }
      }

      &-tg {
        @include themed() {
          background-image: t('tgIcon');
        }
      }

      &-in {
        background-size: em($icon-size-base-narrow);

        @include themed() {
          background-image: t('inIcon');
        }
      }

      &-gh {
        @include themed() {
          background-image: t('ghIcon');
        }
      }
    }
  }
}
