.theme {
  &-toggler {
    position: absolute;
    top: 1rem;
    right: 1rem;
    display: block;
    width: em($icon-size-base);
    height: em($icon-size-base);
    outline: none;
    border: none;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    z-index: $z-high;

    &[data-mode="light"] {
      background-image: url("../../../assets/images/moon.svg");
    }

    &[data-mode="dark"] {
      background-image: url("../../../assets/images/sun.svg");
    }

    @include md() {
      top: 3rem;
      opacity: $icon-opacity-high;
      cursor: pointer;

      &:hover {
        opacity: 1;
      }
    }
  }
}
