/**
 * Typography
 * =================================
 */
/**
 * Icon settings
 * =================================
 */
/**
 * Z-indexes
 * =================================
 */
/**
 * Colors
 * =================================
 */
/**
 * Progress Bar
 * =================================
 */
/**
 * Breakpoints
 * =================================
 */
/**
 * App Theme
 * =================================
 */
/**
 * App-specific variables
 * =================================
 */
@font-face {
  font-family: 'MetaSerifPro';
  src: local("../../assets/fonts/MetaSerifPro-LightItalic"), url("../../assets/fonts/MetaSerifPro-LightItalic.woff2") format("woff2"), url("../../assets/fonts/MetaSerifPro-LightItalic.woff") format("woff"), url("../../assets/fonts/MetaSerifPro-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap; }

@font-face {
  font-family: 'MetaSerifPro';
  src: local("../../assets/fonts/MetaSerifPro-Light"), url("../../assets/fonts/MetaSerifPro-Light.woff2") format("woff2"), url("../../assets/fonts/MetaSerifPro-Light.woff") format("woff"), url("../../assets/fonts/MetaSerifPro-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'MetaSerifPro';
  src: local("../../assets/fonts/MetaSerifPro-Medium"), url("../../assets/fonts/MetaSerifPro-Medium.woff2") format("woff2"), url("../../assets/fonts/MetaSerifPro-Medium.woff") format("woff"), url("../../assets/fonts/MetaSerifPro-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'MetaSerifPro';
  src: local("../../assets/fonts/MetaSerifPro-Bold"), url("../../assets/fonts/MetaSerifPro-Bold.woff2") format("woff2"), url("../../assets/fonts/MetaSerifPro-Bold.woff") format("woff"), url("../../assets/fonts/MetaSerifPro-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }

html {
  font-size: 16px;
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%; }

body {
  font-family: MetaSerifPro, "system-ui", sans-serif;
  -webkit-font-feature-settings: 'kern', 'liga', 'clig', 'calt';
          font-feature-settings: 'kern', 'liga', 'clig', 'calt';
  -webkit-font-variant-ligatures: common-ligatures discretionary-ligatures historical-ligatures;
          font-variant-ligatures: common-ligatures discretionary-ligatures historical-ligatures;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smooth: always;
  opacity: 0.99; }

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote {
  margin: 0; }

h1 {
  font-size: 2.5rem;
  margin-bottom: 0.25rem; }

h2 {
  font-size: 1.75rem;
  margin-bottom: 1rem; }

h3 {
  font-size: 1.2rem;
  margin-bottom: 1rem; }

p {
  font-size: 1.2rem;
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 1rem; }

blockquote {
  font-weight: 300;
  font-size: 1rem; }

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

::-moz-selection {
  background: #ffea00;
  color: #000; }

::selection {
  background: #ffea00;
  color: #000; }

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  min-height: 100%; }

body.theme-light,
.theme-light body {
  color: #1a1a1a;
  background: white; }

body.theme-dark,
.theme-dark body {
  color: #C9D1D9;
  background: #0D1117; }

.container {
  position: relative;
  max-width: 832px;
  padding: 0 1rem;
  margin-left: auto;
  margin-right: auto;
  width: 100%; }

.theme {
  -webkit-transition: color 0.2s ease-out, background-color 0.2s ease-out;
  -o-transition: color 0.2s ease-out, background-color 0.2s ease-out;
  transition: color 0.2s ease-out, background-color 0.2s ease-out; }
  .theme-toggler {
    position: absolute;
    top: 1rem;
    right: 1rem;
    display: block;
    width: 2em;
    height: 2em;
    outline: none;
    border: none;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    z-index: 1000; }
    .theme-toggler[data-mode='light'] {
      background-image: url("../../../assets/images/moon.svg"); }
    .theme-toggler[data-mode='dark'] {
      background-image: url("../../../assets/images/sun.svg"); }
    @media (min-width: 768px) {
      .theme-toggler {
        top: 3rem;
        -webkit-transition: opacity 300ms ease;
        -o-transition: opacity 300ms ease;
        transition: opacity 300ms ease;
        opacity: 0.6;
        cursor: pointer; }
        .theme-toggler:hover {
          opacity: 1; } }

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  min-height: 100%;
  text-align: center; }
