*,
:after,
:before {
    box-sizing: border-box
}

body {
    background-color: #fff;
    font-family: PlayfairDisplayRegular, sans-serif
}

h2,
p {
    color: #626262;
    font-weight: lighter
}

h2 {
    font-size: 1.9em
}

p {
    font-size: .9em
}

a {
    color: #626262;
    text-decoration: none
}

a:hover {
    color: #7c7c7c
}

img {
    max-width: 100%
}

@media (min-width:48em) {
    .container {
        margin-top: 4rem
    }
}

.container {
    max-width: 64em;
    margin-left: auto;
    margin-right: auto
}

.container:after {
    content: " ";
    display: block;
    clear: both
}

.container-inner {
    margin: 4rem auto;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto
}

.container-inner:after {
    content: " ";
    display: block;
    clear: both
}

.post {
    color: #b4ad9e;
    text-transform: uppercase;
    font-family: UbuntuLight;
    font-size: .9em
}
@font-face {
    src: url(../fonts/PlayfairDisplayRegular.ttf) format("truetype");
    font-family: PlayfairDisplayRegular
}

@font-face {
    src: url(../fonts/InconsolataRegular.ttf) format("truetype");
    font-family: InconsRegular
}

@font-face {
    src: url(../fonts/UbuntuLight.ttf) format("truetype");
    font-family: UbuntuLight
}

.logo {
    text-align: center
}

.logo h1 {
    margin: 0;
    text-transform: uppercase;
    font-family: InconsRegular;
    letter-spacing: 6.5px;
    font-weight: 100;
    font-size: 1.9em;
    color: #111
}

.logo h1 a {
    color: #000
}

.logo h1 a:hover {
    color: #333
}

@media (min-width:48em) {
    .logo {
        width: 16.66667%;
        float: left;
        padding-left: .83333%;
        padding-right: .83333%;
        text-align: left
    }
}

.center {
    display: block;
    margin: 0 auto
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center
}

nav li {
    text-transform: uppercase;
    font-size: 1em;
    padding-top: 1rem
}

@media (min-width:48em) {
    nav {
        width: 83.33333%;
        padding-left: .83333%;
        padding-right: .83333%;
        margin-bottom: 2.5rem
    }
    nav,
    nav ul {
        float: right
    }
    nav ul li {
        display: inline-block;
        margin-top: -1rem;
        padding-left: 4rem;
        font-size: .9em;
        font-family: PlayfairDisplayRegular, sans-serif
    }
}

section#posts p {
    margin-bottom: 3rem
}

section#info {
    margin: 6rem 0;
    text-align: center
}

section#info img {
    display: block;
    margin: 0 auto
}

@media (min-width:48em) {
    .info {
        width: 50%;
        float: left;
        padding-left: .83333%;
        padding-right: .83333%;
        padding: 1.5rem
    }
    .info:nth-child(2n+1) {
        margin-left: 0;
        margin-right: -100%;
        clear: both
    }
    .info:nth-child(2n+2) {
        margin-left: 50%;
        margin-right: -100%;
        clear: none
    }
    section#info {
        text-align: left
    }
    section#info img {
        margin: 2rem 0
    }
    .row {
        margin-right: -1.5rem;
        margin-left: -1.5rem
    }
}

#sign {
    background-color: #f0f0f0;
    min-height: 290px;
    height: auto;
    text-align: center
}

#sign h2 {
    color: #333;
    padding-top: 5rem;
    padding-bottom: 3rem
}

#sign input {
    background-color: inherit;
    border: none;
    outline: none;
    border-bottom: 1px solid #333;
    font-size: 1em;
    padding-right: 48px;
    height: 48px;
    width: 280px
}

#sign input::-webkit-input-placeholder {
    -webkit-transition: .3s ease;
    transition: .3s ease;
    color: #626262
}

#sign input::-moz-placeholder {
    -webkit-transition: .3s ease;
    transition: .3s ease;
    color: #626262
}

#sign input:-ms-input-placeholder {
    -webkit-transition: .3s ease;
    transition: .3s ease;
    color: #626262
}

#sign input::placeholder {
    -webkit-transition: .3s ease;
    transition: .3s ease;
    color: #626262
}

#sign input:focus::-webkit-input-placeholder {
    text-indent: 500px;
    -webkit-transition: text-indent .3s ease;
    transition: text-indent .3s ease
}

#sign input:focus::-moz-placeholder {
    text-indent: 500px;
    -webkit-transition: text-indent .3s ease;
    transition: text-indent .3s ease
}

#sign input:focus:-ms-input-placeholder {
    text-indent: 500px;
    -webkit-transition: text-indent .3s ease;
    transition: text-indent .3s ease
}

#sign input:focus::placeholder {
    text-indent: 500px;
    -webkit-transition: text-indent .3s ease;
    transition: text-indent .3s ease
}

#sign button {
    width: 36px;
    height: 36px;
    margin-left: -48px;
    padding: 5px;
    outline: none;
    border: none;
    background: #f0f0f0
}

@media (min-width:48em) {
    input {
        width: 380px!important
    }
}

button#loadmore {
    display: block;
    margin: 0 auto;
    height: 60px;
    width: 160px;
    background-color: #fff;
    font-size: 1em;
    font-weight: 600;
    border: 1px solid #626262;
    color: #626262;
    outline: none;
    -webkit-transition: all .3s ease;
    transition: all .3s ease
}

button#loadmore:hover {
    color: #9d9d9d;
    border: 1px solid #9d9d9d;
    cursor: pointer
}

footer {
    background-color: #f0f0f0;
    min-height: 100px;
    height: auto;
    margin-top: 2rem;
    text-align: center;
    line-height: 2
}

footer a {
    padding-right: 1rem
}

footer a,
footer p {
    color: #404040;
    font-weight: 600
}

footer p {
    font-size: 1em
}

footer .social {
    text-align: center
}

footer .social a {
    margin-right: 1rem
}

@media (min-width:48em) {
    footer {
        line-height: 6
    }
    .social,
    footer {
        text-align: left
    }
    .social {
        width: 25%;
        float: right;
        padding-left: .83333%;
        padding-right: .83333%
    }
    .social a {
        margin-right: .5rem
    }
    .social p {
        display: inline;
        padding-right: 10px
    }
}

.icon {
    display: inline-block;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    width: 32px;
    height: 32px
}

.icon-facebook {
    background-image: url(../img/icons/facebook-logo.svg)
}

.icon-twitter {
    background-image: url(../img/icons/twitter-black-shape.svg)
}

.icon-instagram {
    background-image: url(../img/icons/instagram-symbol.svg)
}

@media (min-width:48em) {
    .icon {
        background-size: cover;
        width: 18px;
        height: 18px
    }
}