section {
  display: flex;
  padding: 5rem 0;
  width: 100%;

  @supports not (old: ie) {
    min-height: 50%;
  }

  & > .container {
    margin: auto;
  }

  &:not(:last-child) {
    border-bottom: 1px solid transparent;

    @include themed() {
      border-bottom: 1px solid t('divider');
    }
  }

  &:nth-child(2n) {
    @include themed() {
      background-color: t('section');
      box-shadow: inset 0 1px 0 0 t('backgroundColor');
    }
  }
}
