@mixin xs {
  @media (min-width: $screen-xs-min) {
    @content;
  }
}

@mixin sm {
  @media (min-width: $screen-sm-min) {
    @content;
  }
}

@mixin md {
  @media (min-width: $screen-md-min) {
    @content;
  }
}

@mixin lg {
  @media (min-width: $screen-lg-min) {
    @content;
  }
}

@mixin xl {
  @media (min-width: $screen-xl-min) {
    @content;
  }
}

@mixin themed() {
  @each $theme, $map in $themes {
    &.theme-#{$theme},
    .theme-#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), '#{$key}');
        $theme-map: map-merge(
          $theme-map,
          (
            $key: $value
          )
        ) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}
